header{
    background-color: #77adda;
    text-align: center;
    padding: 20px;
}
main{
    display: flex;
}
.container{
    background-color: #2ca152;
    color: white;
    padding: 20px;
    height: 200px;
    flex:3;
}
/* . se représnte la classe exemple .side*/
.side{
    background-color: #e6e6a5;
    padding: 20px;
    flex:1;
}
footer{
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
}